.button{
    background-color: #1F70C1;
}

.text{
    color: white;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    padding-bottom: .5em;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .6em;
  }