.commentTitle {
    height: 3em;
    color: white;
    text-align: center;
    background-color: #1F70C1;    
}

.commentModal {
    width: 28em;
}

.closeButton {
  background: #78A1CA;
  width: 5.2em;
  height: 2.5em;
  margin-left: 10.7em;
  border-radius: 7px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: white;
}

.commentText {
    height: 4em;
    text-align: center;
}