<div class="allignTop">
    
    <mat-select [(value)]="selected" class="myOptionActivity text">
        <mat-option *ngFor="let activity of activities" [value]="activity.id">
          {{ activity.name }}
        </mat-option>
      </mat-select> 
        <mat-select [(value)]="selected2" class="myOptionOrdering text">
            <mat-option value="option1">Unordered</mat-option>
            <mat-option value="option2">Ordered by grade</mat-option>
            <mat-option value="option3">Ordered aplhabetically</mat-option>
          </mat-select>
    <div class="searchBar">
        <app-search-bar (filterChanged)="applyFilter($event)"></app-search-bar>
    </div>
    </div>
    
    <div class="tableBox">
    <div class="table">
        <app-table [displayedColumns]="columns"></app-table>
    </div>
    <mat-paginator [pageSize]="7"
                   [pageSizeOptions]="[7, 10, 20, 50]"
                   aria-label="Select page">
    </mat-paginator>
    </div>