.box{
    // justify-content: center;
    // align-self: center;
    // align-items: center;
    // align-content: center;
    // flex-direction: column-reverse;
    display:flex;
    width: 70em;
    height: 30em;
    border-radius: 0.625rem;
    background: rgba(236, 236, 237, 0.50);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: auto;
    margin-bottom: 1em;
}

.mainContent{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    align-content: center;
    padding-left: 12em ;
    padding-top: 0;

}

.Title{
    display: flex;
    width: 15.0625rem;
    height: 3.6875rem;
    flex-direction: column;
    justify-content: center;
    //margin-left: 2em;
    flex-shrink: 0;
    color: #505050;
    font-family: Roboto;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

    
.formsRight{
    flex: 1;
    justify-content: start;
    margin-top: 2em;
    margin-left: 3em;
    width: 20;

}

.addMember{
    border-radius: 10px;
    color: gray;
    border-color: gray;
}


.myOptionActivity{
    background: white;
    width: 12em;
    height: 1.7em;
    border-radius: 7px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-align: center;
    margin-top: 2em;
}

.text{
    color: gray;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    padding-bottom: .5em;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .6em;
  }

  .myInput{
    background-color: white;
    color: white;
    background: white;
  }


.membersCards{
    flex: 1;
    margin-top: 3em;
    //width: 18em;
}

.addMemberSection{
    display: flex;
}
.buttonAdd{
    margin-left: 1em;
}

