<div class="mainContent">
    <div class="box">
        <p class="Title">Register team</p>
        <div class="formsRight">
            <mat-form-field hideRequiredMarker="true" class="fieldAlignment">
                <mat-label>Team name</mat-label>
                <input type="text" matInput required>
            </mat-form-field>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Add member</mat-label>
                  <input type="text"
                         matInput
                         [formControl]="myControl"
                         [matAutocomplete]="auto"
                         [(ngModel)]="member">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </form>
              <button (click)="clearForm()">Clear Form</button>
            <mat-select [(value)]="selected" class="myOptionActivity text">
                <mat-option value="option1">Team project</mat-option>
                <mat-option value="option2">Summer practice</mat-option>
                <mat-option value="option3">Internship</mat-option>
            </mat-select>
            <mat-card >
                <mat-card-content>Simple card</mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
