<mat-toolbar>
  <img class="logo" src="assets/logo/IBM_logo.svg">
</mat-toolbar>

<div class="mainContent">
<div class="sideNav">
<div class="listItem text" >
  <mat-icon >group</mat-icon> Teams
</div>
<div class="listItem text" >
  <mat-icon>library_books</mat-icon> Sessions
</div>
<div class="listItem text" >
  <mat-icon>remember_me</mat-icon> Students
</div>
</div>


<router-outlet></router-outlet>


<div class="content">

</div>
</div>



<!-- <div class="sidenav">
  <div class="list">
     <mat-list-item style="height: 10em; width: 10em;"> -->
      <!-- <mat-icon class="icon">group</mat-icon>
      <span class="text">Teams</span> -->
    <!-- </mat-list-item> -->
    <!-- <mat-list-item >
      <mat-icon class="icon">library_books_FILL0_wght400_GRAD0_opsz48</mat-icon>
      <span class="text">Sessions</span>
    </mat-list-item>
    <mat-list-item>
      <mat-icon class="icon">remember_me_FILL0_wght400_GRAD0_opsz48</mat-icon>
      <span class="text">Students</span>
    </mat-list-item> 
  </div>
</div> -->
