<mat-toolbar>
  <img class="logo" src="assets/logo/IBM_logo.svg">
</mat-toolbar>

<div class="mainContent">
<div class="sideNav">
<div class="listItem text" (click)="toTeams()" >
  <mat-icon >group</mat-icon> Teams
</div>
<div class="listItem text" (click)="toSessions()" [class.my-text]="isHovered" (mouseenter)="isHovered = true" (mouseleave)="isHovered = false">
  <mat-icon>library_books</mat-icon> Sessions
</div>
<div class="listItem text" (click)="toStudents()">
  <mat-icon>remember_me</mat-icon> Students
</div>
</div>





<div class="content">
  <router-outlet></router-outlet>
</div>
</div>



